body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
     background-color: black;
            color: yellow; /* Set text color to white for better visibility on a dark background */
}

#videoContainer {
    display: none;
}

#alternativeContentContainer {
    display: none;
}
.box {
    border: 2px solid #333;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
}

/* Style the text input and check button */
#textInput {
    padding: 8px;
    margin-bottom: 10px;
}

#playButton {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#playButton:hover {
    background-color: #45a049;
}
#shareButton {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#shareButton:hover {
    background-color: #45a049;
}
